# dependencies
node_modules

# build output
.next
out
dist
dist-ssr

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# env
.env
.env.local
.env.*.local

# prisma
prisma/dev.db

# misc
*.local
.DS_Store

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
