@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Cormorant+Garamond:wght@400;500&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
}